#main-footer {
    margin-top: 115px;
    padding: 75px 0 65px;
    background: #414042;
    color: #FFFFFF;
    font-size: 16px;
    border-top: 5px solid #EC008C;
}
    #main-footer .container {
        width: 1420px;
        margin: 0 auto;
        display: flex;
    }
    #main-footer .left {
        width: 500px;
    }
    #main-footer .right {
        width: calc(100% - 500px);
    }
    #main-footer .social-media {
        margin-top: 55px;
    }
    #main-footer .social-media a {
        margin-right: 20px;
    }
    #main-footer .copyright {
        margin-top: 45px;
        color: #FFFFFF;
    }
    #main-footer .link {
        color: #FFFFFF;
        width: 158px;
    }
    #main-footer .link ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #main-footer .link li {
        margin-top: 10px;
    }
    #main-footer .link a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }
    #main-footer .link a:hover {
        text-decoration: underline;
    }
    #main-footer .top {
        display: flex;
        justify-content: flex-end;
    }
    #main-footer .top .title {
        font-family: 'roboto-bold',sans-serif;
        font-size: 16px;
    }
    #main-footer .bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    #main-footer .bottom .widget .cards {
        margin-top: 37px;
    }
    #main-footer .bottom .widget-1 {
        width: 430px;
    }
    #main-footer .bottom .widget-1 .title {
        font-family: 'roboto-bold',sans-serif;
        text-align: center;
    }
    #main-footer .bottom .widget-1 .cards {
        text-align: center;
    }
    #main-footer .bottom .widget-1 .cards a {
        padding-right: 10px;
        padding-left: 10px;
    }
    #main-footer .bottom .widget-2 {
        width: calc(100% - 446px);
        margin-left: 11px;
    }
    #main-footer .bottom .widget-2 .cards img {
        padding-right: 5px;
        padding-left: 5px;
    }