@font-face {
    font-family: 'roboto-regular';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mid';
    src: url('fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'roboto-regular', sans-serif;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    padding: 0;    
}

img {
    max-width: 100%;
}

p {
    line-height: 26px;
    font-size: 16px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.mt-center {
    margin-left: auto;
    margin-right: auto;
}

.mt-25 {
    margin-top: 25px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.wrapper-1364 {
    width: 1364px;
    margin: 0 auto;
}

.btn {
    align-items: center;    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-family: 'roboto-mid',sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 150px;
}

.btn:hover {
    border: 1px solid #EC008C;
    color: #EC008C;
}

.font-pink {
    color: #EC008C;
}

.font-blue {
    color: #1F79B5;
}

.font-bold{
    font-weight: 700;
}

.display-flex{ 
    display: flex;
}

#main-container {
    display: block;
    margin-top: 132px;
    width: 100%;
}

#main-container.type-b {
    margin-top: 183px;
}

.header-with-center-cirle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
    .header-with-center-cirle .image {
        width: 474px;
    }
    .header-with-center-cirle .sub {
        font-size: 18px;
        padding-left: 20px;
        width: 324px;
    }

.product-add-cart.type-c {
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 45px;
}

.quantity-input label{
    font-family: 'roboto-mid',sans-serif;
    font-size: 16px;
    display: block;
    line-height: 16px;
    margin-bottom: 10px;
    width: 100%;
}
.product-add-cart.type-c button {
    height: 25px;
    width: auto;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.product-add-cart.type-c button:nth-child(2) {
    margin-left: 20px;
}
.product-add-cart.type-c .quantity-input.type-c button {
    width: 25px;
    height: 25px;
    margin: 0;
}


/* Quantity Input TYPE B */
.product-add-cart.type-b {
    justify-content: flex-start;
    margin-top: 10px;
}

.product-add-cart.type-b .quantity-input.type-b button {
    width: 25px;
    height: 25px;
    margin: 0;
}

.product-add-cart.type-b .quantity-input.type-b input {
    width: 30px;
    height: 23px;
}

.product-add-cart.type-b > button {
    height: 25px;
    width: auto;
    border: 0;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}

.quantity-input.type-c input  {
    height: 23px;
    width: 30px;
}
    .quantity-input .q-input {
        display: flex;
        margin-top: 5px;
    }
        .quantity-input button {
            border: 0;
            cursor: pointer;
            height: 33px;
            padding: 0;
            width: 33px;
        }
        .quantity-input input  {
            background: #FFFFFF;
            border: 0;
            font-size: 14px;
            height: 31px;
            text-align: center;
            width: 43px;
        }
        .quantity-input input:focus {
            outline: 0;
        }

.product-add-cart {
    align-items: flex-end;
    display: flex;                
    justify-content: space-between;
}

.add-cart-btn {
    align-items: center;
    background: #EC008C;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: 'roboto-mid', sans-serif;
    font-size: 16px;
    height: 33px;
    justify-content: center;
    width: 150px;
}
    .add-cart-btn:hover {
        background: #A5ABAB;
    } 
    .add-cart-btn.type-b {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
.tabs {
    position: relative;
    width: 100%;
}

    .tabs .tabs-nav {
        width: 100%;
    }
        .tabs .tabs-nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }
            .tabs .tabs-nav ul li {
                margin: 0 40px;
            }
                .tabs .tabs-nav ul li a {
                    color: #000000;
                    font-family: 'roboto-mid';
                    font-size: 18px;
                    text-decoration: none;                    
                }
            .tabs .tabs-nav ul li.active a,
            .tabs .tabs-nav ul li a:hover {
                color: #EC008C
            }
            .tabs .tabs-nav ul.type-b li.active a {
                color: #000000;
                font-family: 'roboto-bold',sans-serif;
            }
            .tabs .tabs-nav ul.type-b li.active a::after {
                display: block;
                content: ' ';
                width: 100%;
                height: 3px;
                background: #EC008C;
                margin-top: 5px;
            }
    .tabs .tabs-content {
        width: 1848px;
        margin: 0 auto;
    }
    .tabs .tabs-content.type-b {
        width: 1788px;
    }
        .tabs .tabs-content .tab {
            display: none;
        }
        .tabs .tabs-content .tab.active {
            display: block;
        }
        
.product-list {
    position: relative;
}

.product-list .item {
    display: block;
    width: 450px;
    margin: 10px 6px;
    border-radius: 16px 16px 0 0;
}

.product-list .arrows {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.product-list.type-b .arrows button {
    margin-top: 0;
}

.product-list .arrows button {
    background: transparent;
    border: 0;
    margin-top: -200px;
    cursor: pointer;
    z-index: 998;
}

.product-list .arrows button:first-child {
    margin-left: -7px;
}

.product-list .arrows button:last-child {
    margin-right: -7px;
}

    .product-list .item .img-holder {
        background: #FFFFFF;
        border-radius: 16px;
        height: auto;
        width: 100%;
    }

    .product-list .item img {
        width: 100%;
    }

    .product-list .info {
        padding: 20px 40px;
    }

    .product-list .title {
        font-family: 'roboto-bold';
        font-size: 18px;
        line-height: 18px;
    }

    .product-list .description {
        margin-top: 10px;
        font-size: 18px;
        line-height: normal;
    }

    .product-list .price {
        margin-top: 10px;
        font-size: 21px;
        line-height: 21px;
        color: #EC008C;
        margin: 0;
    }

    .product-list .product-add-cart {
        padding: 0 40px;
        justify-content: flex-start;
    }

    .product-list .product-add-cart button {
        height: 25px;
        width: auto;
        border: 0;
        background: transparent;
        margin-left: 20px;
        cursor: pointer;
    }

    .product-list .product-add-cart > button:last-child {
        margin-left: 10px;
    } 

    .product-list .quantity-input button {
        width: 25px;
        height: 25px;
        margin: 0;
    }

    .product-list .quantity-input input {
        width: 30px;
        height: 23px;
    }

.items-slider {
    position: relative;
}

.items-slider .s-items {
    width: 820px;
    margin: 0 auto;
}

.items-slider .s-items .slick-track{
    padding: 15px 0;
}

.items-slider .s-item {
    width: 126px;
    height: 180px;
    padding: 10px 8px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.items-slider .s-item:hover {
    box-shadow: 0 0 6px 0px rgb(0 0 0 / 15%);
}
    .items-slider .s-arrows {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    .items-slider .s-arrows button {
        background: transparent;
        border: 0;
        cursor: pointer;
        z-index: 998;
    }

.feat-products.type-2 .product-list .item {
    box-shadow: 0 0 6px 0px rgb(0 0 0 / 15%);
    border-radius: 16px 16px 6px 6px;
    padding-bottom: 30px;
}

/* SLICK */
.arrows-with-pagination {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
    .arrows-with-pagination .paging {
        padding-right: 15px;
        padding-left: 15px;
    }
    .arrows-with-pagination .prev,
    .arrows-with-pagination .next {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 36px;
        background: transparent;
        border: 0;
        cursor: pointer;
    }
    .arrows-with-pagination .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .arrows-with-pagination .slick-dots button {
        width: 30px;
        height: 30px;
        font-family: 'roboto-mid',sans-serif;
        font-size: 20px;
        line-height: 30px;
        background: transparent;
        border: 0;
        color: #585858;
        text-align: center;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
    }
    .arrows-with-pagination .slick-dots li.slick-active button {
        background: #EC008C;
        color: #FFFFFF;
    }

.ads-cards {
    width: 100%;
    display: flex;
    margin-top: 115px;
    min-width: 1902px;
}

.ads-cards a {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

/* HEADER Cart Dropdown */
.cart-dropdown {
    position: absolute;
    width: 335px;
    min-height: 335px;
    padding: 0 0 25px 25px;
    background: #FFFFFF;
    top: 45px;
    left: -76%;
    z-index: 9999;
    border: 1px solid #464646;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}
.cart-dropdown::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #464646; 
    position: absolute;
    top: -16px;
    right: 46px;
}
.cart-dropdown::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFFFFF; 
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 47px;
}
    .cart-dropdown .nav {
        padding: 0 53px 0 30px;
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        text-align: right;
    }
    .cart-dropdown .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .cart-dropdown .price {
        font-family: 'roboto-bold',sans-serif;
    }
    .cart-dropdown .intro {
        margin-top: 20px;
        padding-right: 20px;
    }
    .cart-dropdown .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .cart-dropdown .img-holder {
        width: 70px;
    }
    .cart-dropdown .content {
        width: calc(100% - 85px);
    }
    .cart-dropdown .content > div {
        margin-bottom: 3px;
    }
    .cart-dropdown .product {
        margin-top: 20px;
        height: 300px;
        overflow: auto;
        padding-right: 5px;
    }
    .cart-dropdown .product .variation ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .cart-dropdown .name,
    .cart-dropdown .header .quantity {
        font-family: 'roboto-bold',sans-serif;
    }
    .cart-dropdown .header,
    .cart-dropdown .footer,
    .cart-dropdown .checkout {
        padding-right: 25px;
    }
    .cart-dropdown .body {
        padding-right: 10px;
    }
    .cart-dropdown .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .cart-dropdown .tot {
        width: 50%;
    }
    .cart-dropdown .total-label {
        font-family: 'roboto-bold',sans-serif;
        font-size: 16px;
    }
    .cart-dropdown .total {
        font-family: 'roboto-bold',sans-serif;
        font-size: 20px;
        text-align: right;
    }
    .cart-dropdown .checkout {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

/* BREADCRUMB*/
.breadcrumb {
    height: 50px;
    width: 1364px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

/* Custom Select Input */
.f-select {
    display: block;
    width: 230px;
    height: 40px;
    border: 1px solid #707070;
    line-height: 40px;
    box-sizing: border-box;
    position: relative;
}
.f-select .selected,
.f-select .lists {
    padding: 0 20px;
}
.f-select .selected span {
    font-family: 'roboto-bold',sans-serif;
}

.f-select .selected .arrow {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 9px;
    position: absolute;
    right: 20px;
    top: 17px;
    border: 0;
    background: transparent;
    padding: 0;
    line-height: 0;
}

.f-select .selected .arrow.up {
    display: none;
}

.f-select .lists {
    background: #FFFFFF;
    border: 1px solid #A5ABAB;
    position: absolute;
    width: 230px;
    box-sizing: border-box;
    top: 38px;
    left: -1px;
    box-shadow: 0 0 6px 0px rgb(0 0 0 / 15%);
    display: none;
    z-index: 10;
}

.f-select .lists span {
    font-family: 'roboto-bold',sans-serif;
}

.f-select .lists div {
    cursor: pointer;
}

/* Custom Sorter */
.f-sorter {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #707070;
    line-height: 46px;
    cursor: pointer;
}

.f-sorter .up {
    display: none;
}

/* Filter Dropdown Checkbox */
.f-filter-drop .head {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
}
.f-filter-drop .head h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'roboto-bold',sans-serif;
    line-height: 40px;
}
.f-filter-drop .head button {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 9px;
    position: absolute;
    right: 20px;
    top: 17px;
    border: 0;
    background: transparent;
    padding: 0;
    line-height: 0;
}
.f-filter-drop .head .up{
    display: none;
}
.f-filter-drop .lists {
    max-height: 200px;
    overflow: auto;
    display: none;
}

.f-filter-drop .lists::-webkit-scrollbar {
    width: 10px;
    margin-right: 20px;
}
.f-filter-drop .lists::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.f-filter-drop .lists::-webkit-scrollbar-thumb {
    background: #C1C1C1; 
}
.f-filter-drop .lists::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.f-filter-drop .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}
.f-filter-drop .list input{
    width: 22px;
    height: 22px;
    border-radius: 0;
    outline: 0;
    margin: 0 10px 0 0;
    padding: 0;
}


/* Price*/
.f-filter-price .head h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'roboto-bold',sans-serif;
}

.f-filter-price .range input {
    width: 100%;
}

.f-filter-price .label {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.f-filter-price .prices span{
    font-family: 'roboto-bold';
}

.f-reset{
    margin-top: 40px;
}

.f-filter-price #slider-distance {
    position: relative;
}
  
.f-filter-price [slider] > div {
    margin-top: 10px;
}

.f-filter-price [slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #A5ABAB;
    margin: 0 7px;
  }
   
.f-filter-price [slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #A5ABAB;
    margin: 0 7px;
  }
   
.f-filter-price [slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 7px;
    background-color: #EC008C;
    top: -3px;
}
   
.f-filter-price [slider] > div > [thumb] {
    position: absolute;
    top: -6px;
    z-index: 2;
    height: 11px;
    width: 11px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
    border: 1px solid #707070;
  }

.f-filter-price div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
   
.f-filter-price div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
   
.f-filter-price div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
  }
   
.f-filter-price div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
  }
   
.f-filter-price div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
  }

.f-filter-price [slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 3px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
   
.f-filter-price div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
  }
   
.f-filter-price div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
  }
   
.f-filter-price div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
  }
   
.f-filter-price div[slider] > input[type=range]:focus {
    outline: none;
  }

.mobile-overlay {
    display: none;
    position: absolute;
    z-index: 999500;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-overlay-dropdown {
    display: none;
    position: absolute;
    z-index: 999500;
    width: 80%;
    height: 100%;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .mobile-overlay-dropdown .close-wrap {
        padding: 20px;
    }
    .mobile-overlay-dropdown .close-wrap button{
        font-size: 20px;
        background: transparent;
        border: 0;
        color: #707070;
        font-family: 'roboto-mid';
    }
    .mobile-overlay-dropdown .main-menu,
    .mobile-overlay-dropdown .footer-menu {
        padding-left: 40px;
    }


@media (max-width: 1901px) {
    .ads-cards {
        min-width: unset;
        width: 100%;
    }
}
@media (max-width: 1847px) {
    .feat-products.type-2 {
        padding: 65px 35px;
    }
    .tabs .tabs-content {
        width: 100%;
    }
}
@media (max-width: 1787px) {
    .tabs .tabs-content.type-b {
        width: 100%;
    }
    .news .media-wrap {
        padding: 10px 35px 0;
    }
}
@media (max-width: 1363px) {
    .add-cart-btn {
        width: 120px;
    }

    .wrapper-1364 {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}
@media (max-width: 1280px) {
    .items-slider .s-items {
        width: 96%;
    }
    .arrows-with-pagination {
        margin-top: 0;
    }
}
@media (max-width: 1200px){
    .f-filter-price .label {
        flex-direction: column;
        align-items: flex-start;
    }
    .f-filter-price .label .add-cart-btn.type-b {
        order: 2;
        margin-top: 15px;
    }

    .f-filter-price .label .prices {
        order: 1;
    }
}
@media (max-width: 1055px) {
    .product-list .info {
        padding: 20px 15px;
    }

    .product-list .product-add-cart {
        padding: 0 15px;
    }
    .ads-cards {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    .tabs .tabs-nav ul {
        flex-wrap: wrap;
    }

    .tabs .tabs-nav ul li {
        margin: 0px 15px 15px;
    }
    .ads-cards {
        display: block;
    }
}