.main-product-page {
    font-size: 16px;
}
.main-product-page .header {
    width: 800px;
    margin: 0 auto;
}
.main-product-page .header h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-product-page .header p {
    text-align: center;
}

.main-product-page .navigation {
    margin-top: 20px;
}

.main-product-page .navigation ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-product-page .navigation li {
    padding: 0 30px;
}

.main-product-page .navigation a {
    font-family: 'roboto-mid',sans-serif;
    text-decoration: none;
    color: #000000;
}

.main-product-page .navigation a:hover,
.main-product-page .navigation a.active {
    color: #EC008C;
}

.main-product-page .box {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.main-product-page .main {
    width: 1088px;
}

.main-product-page .main .search-filter {
    display: flex;
    justify-content: flex-end;
}

.main-product-page .main .search-filter .f-sorter {
    margin: 0 7px;
}

.main-product-page .main .search-filter .search {
    width: 230px;
    position: relative;
    margin-right: auto;
}

.main-product-page .main .search-filter .search input {
    width: 230px;
    height: 40px;
    border: 1px solid #707070;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.main-product-page .main .search-filter .search input:focus {
    outline: 0;
}

.main-product-page .main .search-filter .search button {
    border: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 56px;
}

.main-product-page .main .products {
    margin-top: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.main-product-page .main .products .item {
    width: 260px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}

.main-product-page .main .products .item .img-holder {
    width: 260px;
    height: 260px;
    background: #f1f1f1;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.main-product-page .main .products .item .img-holder img.hover {
    display: none;
}

.main-product-page .main .products .item .img-holder .badge {
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
}

.main-product-page .main .products .item .img-holder .badge ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main-product-page .main .products .item .img-holder .badge li {
    padding: 0 10px;
    margin-bottom: 5px;
}

.main-product-page .main .products .item .img-holder .badge li {
    font-family: 'roboto-bold',sans-serif;
    color: #FFFFFF;
}

.main-product-page .main .products .item .img-holder .badge li.sold {
    background: #414042;
}

.main-product-page .main .products .item .img-holder .badge li.new {
    background: #EC008C;
}

.main-product-page .main .products .item .img-holder .badge li.sale {
    background: #C20075;
}

.main-product-page .main .products .item .item-hover-overlay {
    display: none;
    width: 100%;
    height: 100%;
    border: 2px solid #EC008C;
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    box-sizing: border-box;
}

.main-product-page .main .products .item .content {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    border-left: 1px solid #CBCBCB;
    margin-top: -10px;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.main-product-page .main .products .item .content .title {
    font-size: 18px;
    font-family: 'roboto-bold',sans-serif;
    margin-bottom: 10px;
}

.main-product-page .main .products .item .content .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-product-page .main .products .item .content .price {
    font-size: 21px;
    color: #EC008C;
}

.main-product-page .main .products .item .content .off-price {
    color: #727272;
    text-decoration: line-through;
    margin-left: 20px;
}

.main-product-page .main .products .item .content .product-price {
    display: flex;
    align-items: baseline;
}

.main-product-page .main .products .item .spacer {
    display: block;
    height: 40px;
}

.main-product-page .main .products .item .product-add-cart.type-b {
    justify-content: flex-start;
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 20px;
    display: none;
}

/* SIDEBAR */
.main-product-page .sidebar {
    width: 215px;
}
.main-product-page .sidebar h2 {
    margin: 0;
    height: 40px;
    display: block;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #707070;
}
.main-product-page .filters {
    border-bottom: 1px solid #707070;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.main-product-page .f-filter-drop {
    margin-top: 5px;
}

/* HOVER STATE */
.main-product-page .main .products .item:hover .item-hover-overlay {
    display: flex;
}
.main-product-page .main .products .item:hover .content {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 20px 20px 60px 20px;
}
.main-product-page .main .products .item:hover .product-add-cart.type-b {
    display: flex;;
}
.main-product-page .main .products .item:hover .img-holder img.hover{
    display: block;
}
.main-product-page .main .products .item:hover .img-holder img.front {
    display: none;
}
.main-product-page .main .products .item:hover .spacer {
    display: none;
}
/*
.main-product-page .main .products .item:hover .content {
    border: 0;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
} */

.main-product-page .filter-for-mobile {
    display: none;
    justify-content: space-between;
}

.main-product-page .filters-for-mobile-wrap {
    width: 48%;
}

.main-product-page .filters-for-mobile-wrap .filters-mobile {
    display: none;
    width: calc(100vw - 30px);
    border: 1px solid #000000;
    margin-top: -1px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 100;
    background: #FFFFFF;
}

.main-product-page .filters-mobile-btn {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #707070;
    line-height: 40px;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.main-product-page .filters-mobile-btn .arrow {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 9px;
    position: absolute;
    right: 20px;
    top: 17px;
    border: 0;
    background: transparent;
    padding: 0;
    line-height: 0;
}

.main-product-page .arrow.up {
    display: none;
}

.main-product-page .filters-mobile {
    display: none;
}


@media (max-width: 1363px){
    .breadcrumb {
        width: 100%;
    }

    .main-product-page .main .products .item .img-holder {
        width: 100%;
        height: auto;
    }

    .main-product-page .main .products .item {
        width: 96%;
    }

    .main-product-page .main {
        width: 80%;
    }

    .main-product-page .sidebar {
        width: 16%;
    }
}

@media (max-width: 1280px) {
    
}

@media (max-width: 799px) {
    .main-product-page .header {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
    .main-product-page {
        margin-top: 50px;
    }

    .main-product-page .header p {
        font-size: 14px;
        line-height: 22px;
    }
    .main-product-page .navigation {
        display: none;
    }

    .main-product-page .box {
        display: block;
    }
    .main-product-page .sidebar {
        width: 100%;
    }
    .main-product-page .filter-for-mobile{
        display: flex;
    }
    .main-product-page .filter-for-desktop {
        display: none;
    }
    .main-product-page .main {
        width: 100%;
    }
    .main-product-page .main .products {
        grid-template-columns: auto auto;
        justify-items: center;
    }
    .main-product-page .main .products .item {
        width: 95%;
    }
    .main-product-page .main .products .item .product-add-cart.type-b {
        position: relative;
        display: flex;
    }
    .main-product-page .main .products .item .spacer {
        display: none;
    }
    .main-product-page .main .products .item .content .title {
        font-size: 14px;
    }

    .main-product-page .main .products .item .content {
        padding: 20px 10px 60px;
    }

    .main-product-page .main .products .item .content .description {
        font-size: 14px;
    }
    .main-product-page .main .products .item .content .price {
        font-size: 17px;
        width: 95%;
    }
    .main-product-page .main .products .item .content .off-price {
        font-size: 14px;
    }
    .main-product-page .main .products .item .product-add-cart.type-b {
        left: 0;
        bottom: 60px;
        justify-content: center;
        padding: 0 10px;
    }
    .main-product-page .main .products .item:hover .item-hover-overlay {
        display: none;
    }

    .main-product-page .main .product-add-cart.type-b > button {
        margin-left: 0;
    }
    .main-product-page .main .search-filter {
        display: none;
    }

    .main-product-page .filter-for-mobile .f-select {
        width: 48%;
        overflow: hidden;
        font-size: 14px;
    }
    
    .main-product-page .filter-for-mobile .f-select.active {
        overflow: visible;
    }
    
    .main-product-page .filter-for-mobile .f-select .lists {
        width: 100%;
    }
}