#product-individual-page .box.box-416, #reviews-section .box.box-416 {
    max-width: 1170px;
    padding-top: 30px;
    display: flex;
}

#reviews-section .box.box-416 {
    display: block;
}

.box.box-416 .product-image-wrap{
    max-width: 580px;
    max-height: 580px;
    margin-right: 60px;
}

#product-individual-page .product-details {
    max-width: 470px;
}
h3.product-category {
    margin-bottom: 0;
    color: #7582A4;
    font-size: 16px;
    margin-top: 0;
}
.product-details h1.product-title {
    margin-top: 0;
    font-size: 24px;
}
.price_wrap {
    display: flex;
    margin-top: 30px;
}

.old-price {
    color: #727272;
    text-decoration: line-through;
    font-size: 18px;
    vertical-align: bottom;
    display: inline;
    padding-top: 8px;
}

.main-price {
    color: #EC008C;
    font-size: 27px;
    margin-right: 20px;
}

.product-details a {
    margin-left: 30px;
    color: #727272;
    font-size: 12px;
}

.detail-wraps {
    margin-top: 20px;
}

span.wrap-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
 
.discounts-wrap .discounts-buttons {
    display: flex;
}

.product-details button {
    width: 230px;
    margin-right: 10px;
    font-size: 14px;
    font-family: 'roboto-regular';
}

button.buy-2 {
    margin-right: 0;
}

.product-details span.btn-effect, .featured-item-box span.btn-effect{
    margin: 0 5px;
}

.product-details select, .product-details .f-select {
    width: 240px;
    height: 40px;
    font-size: 16px;
    line-height: 35px;
}

.discounts-dropdown {
    display: flex;
}

.product-details-dropdowns .lists {
    width: 240px;
}

span.color-box {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.product-details .f-select  span {
    font-family: 'roboto',sans-serif;
}

button.btn:active .btn-effect.btn-effect-1, button.btn.btn-clicked .btn-effect.btn-effect-1 {
    color: #3353E3;
}

button.btn:active .btn-effect.btn-effect-2,button.btn.btn-clicked .btn-effect.btn-effect-2 {
    color: #EC008C;
    
}

button.btn:active, button.btn.btn-clicked{
    font-weight: 600;
    color: #1E1E1E;
}


.minus, .plus {
    width: 33px;
    height: 33px;
    background: #E3E3E3;
    padding: 5px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ABABAB;
    font-size: 24px;
    cursor: pointer;
}
.quantity-cart-wishlist-wrap input {
    height: 33px;
    width: 43px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    border-color: transparent;
    font-weight: 600;
}

.minus svg {
    display: inline;
    vertical-align: middle;
}

.quantity {
    padding-top: 20px;
    width: 212px;
}

.quantity-cart-wishlist-wrap {
    display: flex;
}

button.btn.add-to-cart {
    background-color: #EC008C;
    color: #fff;
    border: none;
    width: 150px;
    height: 45px;
    margin-right: 0;
}

.cart span {
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    display: block;
    text-align: center;
}

.quantity-cart-wishlist-wrap div {
    margin-right: 43px;
}

.quantity-cart-wishlist-wrap .wishlist {
    margin-right: 0;
    display: flex;
    vertical-align: middle;
    padding-top: 20px;
    font-size: 12px;
}

.quantity-cart-wishlist-wrap 
 .icon {
    margin-right: 10px;

}

.quantity-wrap.detail-wraps {
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 25px;
}

.add-on-deals-buttons.last {
    margin-top: 10px;
}

.share-btn {
    margin-right: 20px;
}

.thumnail-images {
    margin-right: 20px;
}

.thumnail-images-wrap {
    margin-top: 15px;
}

.pruduct-details-box .wrap-title {
    letter-spacing: 0px;
    color: #1E1E1E;
    text-align: left;
    font-size: 16px;
    font-family: 'roboto-bold';
    line-height: 26px;
    text-transform: uppercase;
}

.pruduct-details-box {
    width: 335px;
}

.pruduct-details-box {
    width: 335px;
    margin-right: 40px;
    border-right: 1px solid #707070;
    padding-right: 40px;
    max-height: 72px;
    height: 72px;
}

.pruduct-details-box.last{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.pruduct-details-section .wrap-title input {
    margin-left: 0;
    margin-right: 10px;
}

#product-individual-page .pruduct-add-on-deals-section.box.box-416 {
    display: block;
}

.featured-deal {
    border: 1px solid #EC008C;
    width: 290px;
    padding: 10px 20px;
    text-align: center;
}

.featured-deal span {
    font-weight: 600;
}

.featured-item {
    box-shadow: 0px 1px 6px #00000026;
    border-radius: 5px;
    width: 300px;
    margin-top: 10px;
    padding: 5px 15px;
    margin-right: 30px;
}

.featured-item-descripion {
    margin-left: 20px;
}

p.price {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.featured-item-descripion p {
    margin-bottom: 0;
    margin-top: 0;
}
.products {
    margin-top: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.products .item {
    width: 260px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 495px;
    border: 2px solid transparent;
}

.products .item .item-hover-overlay {
    display: none;
    width: 100%;
    height: 100%;
    border: 2px solid #EC008C;
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    box-sizing: border-box;
}

.products .item .img-holder {
    width: 260px;
    height: 260px;
    background: #f1f1f1;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.products .item .content {
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    border-left: 1px solid #CBCBCB;
    margin-top: -10px;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.products .item .spacer {
    display: block;
    height: 40px;
}

.products .item .product-add-cart.type-b {
    justify-content: flex-start;
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 20px;
    display: none;
}

.products .item .content .title {
    font-size: 18px;
    font-family: 'roboto-bold',sans-serif;
    margin-bottom: 10px;
}

.products .item .content .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.products .item .content .product-price {
    display: flex;
    align-items: baseline;
}

.products .item .content .price {
    font-size: 21px;
    color: #EC008C;
}

 .products .item .content .off-price {
    color: #727272;
    text-decoration: line-through;
    margin-left: 20px;
}

.products .item:hover { 
 
    border: 2px solid #EC008C;
    border-radius: 5px;
    box-sizing: border-box;
}

 .products .item .product-add-cart.type-b {
    justify-content: flex-start;
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 20px;
    display: none;
}

.products .item:hover .product-add-cart.type-b {
    display: flex;
}

 .products .item:hover .content {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 20px 20px 60px 20px;
}

.products .item:hover .item-hover-overlay {
    display: flex;
}

.view-all-products a {
    text-align: right;
    display: block;
    color: #EC008C;
    font-size: 16px;
    text-decoration: none;
}


.featured-deal.btn {
    border: 1px solid #707070;
    color: #707070;
    padding: 10px 20px;
    text-align: center;
}

button.featured-deal.btn.btn-clicked {
    border-radius: 0;
    border-color: #EC008C;
}

.tabs-included .tabs .tabs-nav ul {
    justify-content: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #CBCBCB;
}

.tabs-included .tabs .tabs-nav ul li {
    margin: 0 70px 0 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.tabs-included .tabs .tabs-nav li.active {
    border-bottom: 3px solid #EC008C;
}

.tabs-included .tabs .tabs-nav li, .tabs-included .tabs div{
    transition: .2s all;
}

.tabs-included .tabs .tabs-nav ul li a {

    font-size: 24px;

}

.tabs-included .tabs .tabs-content {
    width: auto;
    margin: 0 auto;
    min-height: 280px;
}

.tabs-included .tabs .tabs-nav li.active a {
    color: #000;
    font-weight: 700;
}

#product-individual-page div.tabs-included {
    padding-top: 0;
    margin-top: 0;
}

#product-individual-page .pink-box.box {
    display: block;
    background-color: #FEE1FF;
    padding-top: 0;
    margin-top: 30px;
}

.pink-box h2 {
    background-color: #EC008C;
    color: white;
    font-family: 'roboto-bold';
    padding: 10px 40px;
}

.pink-box .section-content {
    padding: 10px 40px;
}

.semi-large-width {
    max-width: 828px;
}

#product-individual-page div#similar-products-section {
    padding-top: 60px;
}

section#reviews-section {
    background-color: #F1F1F1;
    padding: 55px 0;
}

div#main-container.product-individual-page footer#main-footer {
    margin-top: 0;
}

#write-a-review h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#write-a-review p {
    margin-top: 0;
    color: #76767E;
    font-size: 14px;
}

#write-a-review-form input {
    width: 270px;
    height: 30px;
    border: 1px solid #D6D6D6;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    font-family: 'roboto-regular';
}

#write-a-review-form textarea {
    width: 98%;
    resize: none;
    height: 162px;
    border: 1px solid #D6D6D6;
    color: #EB2E25;
    padding: 10px;
    font-family: 'roboto-regular';
}

#write-a-review-form .row-2 {
    margin-top: 25px;
}

#write-a-review-form input[type="submit"] {
    width: 122px;
    height: 40px;
    border-radius: 6px;
    background-color: #EC008C;
    color: #fff;
    font-family: 'roboto-mid';
    float: right;
    margin-right: 0;
}

#write-a-review-form .last {
    margin-top: 30px;
    /* display: block; */
    align-items: center;
    justify-content: flex-end;
}

.star-ratings {
    margin-right: 85px;
}

.head-wrap.display-flex {
    align-items: baseline;
}

.head-wrap h2, .head-wrap .filters {
    display: inline-block;
}

.filters {
    width: 88%;
    text-align: right;
}

.head-wrap {
    border-bottom: 1px solid #CBCBCB;
}

.overall-score-wrap span, .overall-score-wrap img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

span.overall-score {
    font-size: 79px;
    color: #FFB21E;
    font-weight: 200;
}

span.total-ratings {
    margin-top: 10px;
    font-size: 14px;
    color: #303030;
}

.rating-graph ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

span.line-graph-box {
    background-color: #EBEBEB;
    width: 184px;
    border-radius: 6px;
    height: 15px;
    display: block;
    overflow: hidden;
}

span.colored-graph {
    background-color: #C2C2C2;
    display: block;
    height: 100%;
}

span.graph-score {
    margin-left: 10px;
}

span.graph-score {
    margin-left: 10px;
    color: #76767E;
    font-size: 14px;
    font-family: 'roboto-regular';
}

.rating-graph {
    padding-top: 26px;
}

.rating-graph ul {
    margin: 0;
}

.comments-item {
    padding: 40px 0;
    border-bottom: 1px solid #CBCBCB;
}

.comment-name {
    font-size: 16px;
    font-family: 'roboto-bold';
    color: #444444;
    margin-right: 50px;
}

span.comment-date {
    font-size: 14px;
    color: #303030;
}

p.comment-review {
    font-size: 14px;
    color: #303030;
}